/* Apply basic reset and font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(image/nigth.jpg);
    background-size: cover;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-left: 50px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.nav-title {
    font-size: 30px;
    color: white;
}

.nav-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    padding-top: 20px;
}

.nav-right a {
    font-size: 1.2rem;
    color: white;
    padding: 10px 10px;
    border: 2px solid transparent;
    text-decoration: none;
}

.nav-right a:hover {
    padding: 10px 10px;
    border: 2px solid white;
    border-radius: 6px;
}

.nav-right button {
    width: 15%;
    /* margin: auto; */
    margin-right: 40px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    /* margin-left: 40px; */
    transition: .5s;
    padding: 10px 0;
}

.nav-right button:hover {
    background: white;
    color: #162938;
}

/* Main container */
.container {
    /* background-color: white; */
    margin-top: 50px;
    padding: 30px 40px;
    width: 100%;
    max-width: 40%;
    border-radius: 12px;
    text-align: center;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

/* Headings */
.container h1,
.container h2 {
    margin-bottom: 20px;
    /* color: #333; */
    color: white;

}

/* Links */
.container a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.container a:hover {
    text-decoration: underline;
}

/* Input fields */
input,
select {
    width: 100%;
    padding: 10px 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

label p {
    margin: 0;
    font-size: 16px;
}

/* Button styling */
.btn {
    background-color: #007bff;
    color: white;
    padding: 12px;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* Gender label */
label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

/* Dashboard */
p {
    margin: 20px 0;
    color: #fff;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}